html {
    box-sizing: border-box;
    font-size: 16px;
    /* width: 100%; */
}

:root{
    --mybackground-color: rgb(56, 65, 132);
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img-styles{
    margin-left: auto;
    margin-right    : auto;
}
body{
    display: inline;
    /* margin: 2 !important; */
    font-family: 'Playfair Display', serif;
    
}
.dropdown-item{
    display: inline;
    align-items:self-start;
    margin:1px 1px;

    height: 0.3rem;
    padding: 0;
    /* border: solid thin rgba(0, 0, 255, 0.37); */
}
.dropdown-menu >*{
    text-align: center;
    align-items: center;
}


.dropdown-menu{
    border-radius: 0%;
    border: 0.1rem;
    border-bottom: 0.2rem solid rgb(4, 0, 255);

}
.article-hospital-turns > h1{
    /* align-items: center; */
    height: 15vh;
    display: flex;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(225deg, rgba(216, 212, 212, 1) 0%, rgba(56, 65, 132, 1) 83%);
}
.article-hospital-turns h1{
    color: white;
}
a{
    text-decoration: none;
}
.column-styles{
    letter-spacing: 2px;
    word-spacing: 2px;
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-between;
}
.logo-hospital__size{
    width: 17rem;
    
}
.logo-muni_tandil__size,
.logo-hospital__size{
    height: 6.25rem;
    
}
.dropdown-toggle{
    align-items: center;
}
.menu-bar__top {
    background-color: var(--mybackground-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    /* height: 120px; */
}




.menu-bar__top >*{
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
}
/* @media (max-width: 500px) {
    .menu-bar__top{
        background-color: brown; 
        display: flex;
        margin: 0; 
    }
    .group .item-top{
        display: flex;
        flex-direction: column  ;
        }
} 
.group .item-top{
    padding: 2px;
    align-items: center;
} 
*/
.group-bluebar{
    margin-left: 40px;
}
.item-top {
    cursor: pointer;
    color: white;
    font-size: .9rem;
    /* display: inline-block; */
    /* box-sizing: border-box; */
    /* padding: 14px 20px; */
}
.socialmedia-svg{
    height:1.5rem;
    width: 1.5rem;
    margin: 0 0.6rem;
    cursor: pointer;
}

.socialmedia-svg:hover{
    background-color: red;

}
.button-theme{
    width: 4rem;
    height: 4rem;
    /* display: inline; */
    background-color: var(--mybackground-color);
    border: none;
    font-size:larger;
    align-items: center;
    
}




.item-top:hover,
.item.title:hover{
    text-decoration: underline;
    color: yellow;
}
.item.title {
    font-weight: 600;
}

/* .navbar-collapse{
    
} */

.logos-posit{
    display: flex;
    justify-content: space-around;
}
.menu-bar {
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.group-options__style .item-options{
justify-content: space-evenly;
cursor: pointer;
color: black;
font-size: 18px;
display: inline-block;
box-sizing: border-box;
padding: 14px 20px;
}
.group-options__style .item-options:hover{
    color: red;
}

.nav-bar__size{
display: flex;
justify-content: flex-start;
margin:0 10%; 
width: 250%;
}
.navbar-more-options__styles{
    width: 90%;
}
.nav-link{
    display: flex;
}
.nav-link:hover{
    color: red;
}

.row{
    display: flex;
    justify-content: center;
    
}
.item {
    cursor: pointer;
    color: white;
    background-color: transparent;
    font-size: 15px;
    display: inline-block;
    box-sizing: border-box;
    padding: 14px 20px;
}

.item.title {
    font-weight: 600;
    display: flex;
    align-self: flex-start;
    
}
.dropdown-menuhr{
    opacity:20%;
    color: red;
}

.article-hospital-turns{

    width: auto;
}
.menu-bar__top{
    width: 100%;
}

/* {
    width: 100%;
} */